numpy>=1.23
scipy>=1.9

astropy>=7.1.1
photutils>=2.3

matplotlib>=3.7

sncosmo>=2.12.1
dynesty>=3.0.0
dill>=0.3.6
corner>=2.2

stpsf>=2.1
poppy>=1.1.2

stsci.skypac>=1.0

# JWST stack (you *are* importing jwst + datamodels + pipeline bits)
jwst>=1.20
stdatamodels>=4.1.0
stpipe>=0.11.0
gwcs>=0.26.1
asdf>=4.5.0
stsci.skypac>=1.0.11
pytest